$font-size: 14px;
$text-color: #424141;
$text-color-white:#fff;
$text-color-theme: #269dcc;
$padding-size: 12px;
$theme-color-a: #269dcc;
$margin-bottom-large: 36px;
$margin-top-large: 26px;
$btn-bg-color: #269dcc;
