<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>Crosstab Portal</title>
    <link rel="stylesheet" href="//npmcdn.com/react-bootstrap-table/dist/react-bootstrap-table-all.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="/crosstab-portal-1.0.0.css" rel="stylesheet">
  </head>

  <body>
    <div
      class="app"
      data-login-service-url="<%= URL_LOGIN_SERVICE %>"
      data-captcha-site-key="<%= CAPTCHA_SITE_KEY %>"
    ></div>

    <script type="text/javascript" src="/crosstab-portal-1.0.0.js"></script>
  </body>
</html>
